  
body {
    margin: 0px;
    font-family: "Titillium Web", sans-serif;
    background-color: rgb(49, 49, 49);
    // background-image: url(/src/japan-2014618_1920.jpg);

    color: rgb(194, 194, 194);
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }